.margin-bottom {
    margin-bottom: 10px;
}

object {
    width: 100%;
    height: 500px;
}

body {
    background-color: #e5d7b7;
}

.bright {
    color: black;
    background-color: #e5d7b7;
}

.dark, .dark ul.tabs li.current {
    color: white;
    background-color: black;
}

.dark ul.tabs li.current {
    background-color: #111111;
}

.dark .btn-default, .dark .input-group-addon, .dark .select {
    color: white;
    background-color: #111111;
}

.container-custom {
    border: 1px solid black;
    padding: 0 1%;
}

.tab-season-title {
    text-align: center;
}

.episode-container {
    text-align: center;
    border: 1px solid black;
    padding: 1% 1%;
}

.ep-video {
    max-width: 95%;
    min-width: 70%;
}

.ep-title {
    text-align: center;
    font-size: 1.2em;
}

.episoden-btn {
    width: 40px;
}

.episoden-btn.current {
    font-weight: bold;
    color: red;
}

.select {
    padding: 6px 6px;
}

.input-group, .btn-group {
    padding: 0 5px;
}

.btn {
    height: 34px;
}

.btn-autoplay {
    min-width: 107px;
}

.btn-switchLight {
    min-width: 85px;
}
